/*Styling body content*/
body {
    font-family: 'Roboto Mono', monospace;
    
}
/*Styling the submit button*/
.btn-violet {
    background: #d67097 !important;
    color: #fff !important;
    font-weight: bold;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2); 
    padding: 5px;
}

/*styling the ul and li */
li {
    list-style: none;
    margin: 0;
    padding: 0;
}
ul {
    padding: 0;
    margin: 0;
}
/*Styling the weather div */
.weather-app {
    width: 500px;
    margin: 0 auto;
    margin-top: 30px;
    padding: 20px;
    border: 2px solid #f48db4;
    border-radius: 10px;
  }
  .city {
    color: #f48db4;
    font-size: 35px;
    font-weight: 500;
  }
  .main-info {
    font-size: 20px;
    margin-bottom: 20px;
    text-transform: capitalize;
  }
/*styling the units and forecast */
    .main-temp strong {
        font-size: 40px;
        font-weight: 600;
    }
      .main-temp .units {
        position: relative;
        font-size: 18px;
        top: -10px;
        padding: 0;
  }
      .other-metrics ul {
        font-size: 15px;
   }
      .weather-forecast {
        margin-top: 15px;
        text-align: center;
        font-size: 12px;
        margin-bottom: 15px;
      }

 /* styling the forecast date and footer*/
    .weather-forecast .forecast-date {
            font-size: 16px;
     }
        
    .weather-forecast .forecast-temperature {
        font-size: 16px;
        color: grey;
     }
        
    .forecast-max-temp {
            font-weight: bolder;
    }
        
    .footer {
            font-size: smaller;
            text-align: center;
            padding-top: 5px;
    }